.paste {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgb(224, 220, 220);
}

.card-body {
  font-size: 14px;
}

.pagination {
  width: 40vw;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.pagination li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination a {
  padding: 10px;
  text-decoration: none;
  color: rgb(46, 46, 46);
  font-weight: 600;
}

.pagination a:hover {
  border-radius: 50%;
  border: none;
  background-color: rgb(134, 223, 250);
  cursor: pointer;
}

.active a {
  border-radius: 50%;
  border: none;
  background-color: rgb(134, 223, 250);
}

.spinners {
  width: 170px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.stats {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
